*{
      margin: 0;
      padding: 0;
}

body, html {
    overflow: hidden;
    height: 100%;
  }
  
div#background {
    width: 100%; 
    height: 100%; 
    background-image: url('assets/background.png');
    position: absolute;
  }
  
  div#hero {
      width: 50px;
      height: 50px;
      background-image: url('assets/hero.png');
      position: absolute;
      left: 780px;
      top: 675px; 
  }
  
  div#missiles {
      width: 1200px;
      height: 800px;
      position: absolute;
  }
  
  div.missile1 {
      width: 10px;
      height: 28px;
      background-image: url('assets/missile1.png');
      position: absolute;
  }
  
  div#enemies {
      width: 1200px;
      height: 800px;
      position: absolute;
  }
  
  div.enemy {
      width: 50px;
      height: 50px;
      background-image: url('assets/enemy.png');
      position: absolute;
  }

  #game-over-screen {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      color: white;
      font-size: 48px;
      padding-top: 220px;
      font-style: italic;
      
  }

  h1{
    padding-top: 50px;
  }
  .spaceinvader{
    margin-top: -120px;
    padding-bottom: 80px;
    font-size: 74px;
    font-style: initial;
    color:violet;
    text-shadow: blue 2px 2px 5px;
    border: 2px solid blue;
    padding: 10px; 
    display: inline-block; 
    border-radius: 5px;
  }
  .playagain{
    padding-top: 20px;
    color: yellow;
    font-size: 42px;
    
  }
  #score {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 54px;
    color: yellow;
    text-shadow: blueviolet 2px 2px 5px  ;
  }
  #high-score {
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    right: 20px;
    font-size: 54px;
    color: yellow;
    text-shadow: blueviolet 2px 2px 5px  ;
  }

  #restart-button {
    background-color: #74e1f2;
    color: #200101;
    padding: 20px 25px;
    font-size: 26px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    margin-top: 50px;
    border-radius: 45px;
    transition: background-color 5s;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  #restart-button:hover {
    background-color: #45a049;
  }
  
  
  